
%center {
    display: flex;
    justify-content: center;
    align-items: center;
}

a {
    &.btn {
      width: 100%;
      background: #55B68D;
      @extend %center;
      height: 3rem;
      border-radius: 3px;
      color: white;
      text-decoration: none;
      font-weight: 600;
      text-transform: uppercase;
   
        &:hover {
            background: rgb(55, 136, 102);
        }

        &:active {
            background: #222;
        }
    }
}

header {
    background: #eee;
    height: 4rem;
    @extend %center;

    h1 {
        font-size: 1.1rem;
        font-weight: 100;
        text-transform: uppercase;
    }

}