@import url('https://fonts.googleapis.com/css?family=Saira:400,600,700');

:root {
    font-family: 'Saira', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}